body {
text-align: center;
margin: 0;
}
header {
  background-color:#F15B31;
  color:#FFFFFF;
  padding:30px 20px;
}
nav {
  background-color:#00A6B3;
  font-color:#FFFFFF;
  padding:20px 0 20px 0;
}
main {
  width:850px;
  margin:35px auto;
}
footer {
  padding:0 20px;
  background:#0D2C40;
  color:#ffffff;
  font-size:14px;
  letter-spacing:.08em;
  font-weight: 500;
}
footer p {
  font-family: "Raleway",serif;
}
img {
  margin:45px 8px;
}
h1 {
font-family:"Raleway", sans-serif;
color:#FFFFFF;
letter-spacing:1px;
font-weight:400;
font-size:45px;
margin: 0;
}
h2 {
font-family:"Raleway", sans-serif;
color:#0D2C40;
letter-spacing:1px;
font-weight:600;
font-size:20px;
}
nav a {
font-family:"Raleway", sans-serif;
color:#FFFFFF;
letter-spacing:1px;
font-weight:600;
font-size:18px;
text-decoration: none;
margin: 0 20px;
}
nav a:hover {
  color:#F15B31;
}
p {
font-family:"Droid Serif", serif;
line-height:26px;
font-size:18px;
}
.copyright {
  float: left;
}
.message {
  float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name {
  color:#F15B31;
  font-weight:700;
}
/*card animation*/
@keyframes fly-in {
  0% {
    transform: rotateY(540deg) rotateX(1080deg) translateZ(400px) translateX(80px) translateY(0);
  }
  40% {
    transform: rotateY(0deg) rotateX(0) translateZ(0) translateX(0) translateY(0);
  }
  60% {
    transform: rotateY(90deg) rotateX(0) translateZ(0) translateX(100px) translateY(1000px);
  }
  80% {
    transform: rotateY(180deg) rotateX(0) translateZ(0) translateX(0) translateY(0);
  }
  100% {
    transform: rotateY(0) rotateX(0) translateZ(0) translateX(0) translateY(0);
  }
}
.card-holder{
  animation-name:fly-in;
  animation-duration:7s;
  animation-direction:alternate;
  animation-iteration-count:1;
  animation-timing-function:ease-in-out;
}
.card-holder:nth-of-type(1){
  animation-delay:.5s;
}
.card-holder:nth-of-type(2){
  animation-delay:1s;
}
.card-holder:nth-of-type(3){
  animation-delay:1.5s;
}
.card-holder:nth-of-type(4){
  animation-delay:2s;
}
.card-holder:nth-of-type(5){
  animation-delay:2.5s;
}
.card-holder:nth-of-type(6){
  animation-delay:3s;
}
.card-holder:nth-of-type(7){
  animation-delay:3.5s;
}
.card-holder:nth-of-type(8){
  animation-delay:4s;
}
.card-holder:nth-of-type(9){
  animation-delay:4.5s;
}
.card-holder:nth-of-type(10){
  animation-delay:5s;
}
.card-holder:hover {
  box-shadow:0px 3px 6px rgba(0,0,0,.7);
}
.card-holder:active{
  transform:scale(.9);
}
